
.example-chip-list {
  width: 450px;
    padding-right:15px;
    height:40px;
    font-size:18pt;
    position: default;
    z-index: 1;
    
  }
/*
  mat-chip-list {
    width: 05px; 
    color : gray;
  }

*/
  