/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,body {
 height: 100%;
  background: linear-gradient(to right top, #ffffff, #a9a9a9);
} 

img{
  max-width:180px;
}
input[type=file]{
padding:10px;
background:#2d2d2d;}


label.label-text{
  color: #0080f0;
  padding-left:30px;
}

#inputUpload {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  font-size: inherit;
  color: #0c090d;
}

.custom-file-upload:hover {
  text-decoration: underline;
}
.column {
  float: inherit;
  position: relative;
  top: 20px;
 /* Should be removed. Only for demonstration */
}

.left  {
  left: 40px;
  width: 25%;
}

.right {
  left: 0px;
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

  mat-slider {
    width: 300px;
    color : gray;
  }

  .gray{
    color: gray;
  }

  .margin {
    margin: 20px 50px 15px 35px; ;
  }

  .width{
    width: 210px;
  }

  .modal-background{
    background: #0080f0;
    
  }

  .modal-header-text{
    color: white;
  }

  .modal-close{
    color: white;
    background : white;
  }

  .box-minmax{
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    color: gray;
    
    span:first-child{
      margin-left: 10px;
    }
  }
    
  .box-agemin{
    position: absolute;
    left: 10px;
    top: 63px;
    z-index: 1;
  }

  .box-agemax{
    position: absolute;
    left: 496px;
    top: 63px;
    z-index: 1;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-container .mat-form-field {
    width: 220px;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }
  